[submodule "bucc"]
	path = bucc
	url = https://github.com/starkandwayne/bucc.git
[submodule "spring-twitter-stream"]
	path = spring-twitter-stream
	url = https://github.com/yogendra/spring-twitter-stream.git
[submodule "spring-music"]
	path = spring-music
	url = https://github.com/yogendra/spring-music.git
[submodule "credentials-service-client"]
	path = credentials-service-client
	url = https://github.com/yogendra/credentials-service-client.git
[submodule "credentials-service-broker"]
	path = credentials-service-broker
	url = https://github.com/yogendra/credentials-service-broker.git
[submodule "spring-credhub"]
	path = spring-credhub
	url = https://github.com/yogendra/spring-credhub.git
[submodule "credhub-java-sample"]
	path = credhub-java-sample
	url = https://github.com/yogendra/credhub-java-sample.git
